<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>folkcritic</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link href="{% static 'basic.css' %}" media="all" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
</head>
{% if session.name is not None %}
<body style="background-color: #cccccc;" onload="load()">
{% else %}
<body style="background-color: #cccccc;" >
{% endif %}
<div id="overlay">Loading...</div>
<div class="container-fluid">
    <div class="row pt-2 pl-3">
        <div class="col-sm-9"><h1>folkcritic</h1></div>
        {% if user.is_authenticated %}
        <div class="col-sm-3">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <label for="Log Out">User: {{ user.username }}</label>
                <input type="submit" value="Log Out" id="Log Out">
            </form>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-2 pt-3" style="max-width:200px;">
            {% if user.is_authenticated %}
            {% block sidebar %}

            {% if session.name is not None %}
            <div class="row ml-3  pb-4" style = "border-bottom:1px solid;">
                    Session: {{ session.name }}
                    <br>Rated tunes: {{ num_datapoints }}
                    <br>
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="session" name="session" value="None">
                        <input type="submit" value="Change session" id="back">
                    </form>
                    <br>
                <br>
                </div>
                <div class="row ml-3 mt-3 pb-4" style = "border-bottom:1px solid;">
                    <h5> Evaluate Session:</h5>
                <form action="{% url 'eval' %}" method="post">
                        {% csrf_token %}
                    <label for="no_tunes">No tunes</label><br>
                    <input type="text" id="no_tunes" name="no_tunes" value="10" style="width:40px;" ><br><br>
                        <input type="hidden" id="eval" name="start_eval" value="True">
                        <input type="submit" value="Evaluate" id="eval_submit" onclick="on()">


                    </form>

                    </div>
            <div class="row ml-3 mt-3 pb-4" style = 'border-bottom:1px solid;'>
                <h5> Training Params:</h5>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <label for="lr">Learning rate</label><br>
                    <input type="text" id="lr" name="lr" value="{{lr}}" style="width:100px;"><br><br>
                    <label for="epochs">Epochs</label><br>
                    <input type="text" id="epochs" name="epochs" value="{{epochs}}" style="width:100px;" ><br><br>
                    <input type="submit" value="Update" id="change_params" onclick="on()">
                </form>
            </div>
            <div class="row ml-3 mt-3">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="reset" name="reset" value="None">
                    <input type="submit" value="Reset Critic" id="reset_critic" onclick="on()">
                </form>
            </div>
            {% endif %}
            {% endblock %}
            {% endif %}
        </div>

        <div class=' col-sm-8 pl-5 pt-3 pr-5 pb-5 ml-3 mr-3 ' style='max-width:800px; background-color:white; box-shadow: 2px 2px 5px;'>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block endscript %}{% endblock %}
</body>
</html>