{% extends "base_generic.html" %}
{% block head %}
{% load static %}
<link href="{% static 'abcjs-audio.css' %}" media="all" rel="stylesheet" type="text/css" />
<script src="{% static 'abcjs-basic.js' %}" type="text/javascript"></script>
<style>
        .abcjs-inline-midi {
            max-width: 400px;
        }
    </style>
{% include "abcjs_script.html" %}
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
You are not logged in yet<br>
<a href="{% url 'login' %}">Log in</a>
{% else %}
{% if session is None %}
{% include "session_picker.html" %}
{% else %}


{% if evaluation %}
<h2>Evaluation</h2>
You have {{tunes_left}} tunes left out of {{total_tunes}}.
{% if eval_result is None %}
{% include "tune_display.html" %}
{% else %}
Evaluation finished with the following result:
{{eval_result}}
(This result is also stored in the db and can be seen in the session selector)
{% endif %}


{% else %}
{% include "tune_display.html" %}
{% endif %}

{% endif %}
{% endif %}
{% endblock %}

{% block endscript %}
<script>
    function on() {
        document.getElementById("overlay").style.display = "block";
    }

</script>

{% endblock %}
